<div style="text-align:right">
    <b>Author:</b> Andreas P. Koenzen (akc at apkc.net) / <a href="http://www.apkc.net">www.apkc.net</a>
</div>

# SQL Playground

## Imports

In [ ]:
%run '../../../imports.py'

## Configuration

In [ ]:
%run '../../../config.py'

## Environment Variables

In [ ]:
%run '../../../env_variables.py'

## Load Data from Files

In [ ]:
DATASET_HOME = "~/Temp/imdb"

In [ ]:
original_df = pd.read_csv(
    f"{DATASET_HOME}/title.akas.tsv",
    sep="\t",
    header=0,
    quoting=csv.QUOTE_NONE,
    names=[
        "title_id", 
        "ordering", 
        "title", 
        "region", 
        "language", 
        "types", 
        "attributes",
        "is_original_title",
    ],
    dtype={
        "title_id": str, 
        "ordering": np.int8, 
        "title": str, 
        "region": str, 
        "language": str, 
        "types": str, 
        "attributes": str,
        "is_original_title": str,
    }
)

In [ ]:
original_df

## DEBUG

In [ ]:
original_df.loc[original_df["title_id"] == "tt3880980"]

## Replace and Clean

### Replace all instances of `\N` with `None`

In [ ]:
df = original_df.replace({"\\N": None})

In [ ]:
df

### Uppercase columns

In [ ]:
def f(l):
    return str(l).upper() if l is not None else None

df["title"] = df["title"].apply(f)
df["region"] = df["region"].apply(f)
df["language"] = df["language"].apply(f)

In [ ]:
df

### Convert columns

In [ ]:
def f(l):
    return 0 if (str(l) == "0" or l is None) else 1

df["is_original_title"] = df["is_original_title"].apply(f)

In [ ]:
df

#### Convert to SQL array types.

In [ ]:
def f(l):
    return l.replace(" ", ",") if l is not None else None

df["types"] = df["types"].apply(f)
df["attributes"] = df["attributes"].apply(f)

## DEBUG

In [ ]:
df.loc[df["title_id"] == "tt3880980"]

## Dump as TSV

In [ ]:
df.to_csv(
    f"{DATASET_HOME}/title.akas.processed.csv", 
    sep=",",
    index=False,
)

***
# End