# Notebook for testing the Pandas library:
**Author:** Andreas P. Koenzen

In [1]:
import pandas as pd

## Index:
*TODO:* Explanation

In [2]:
# TODO: Example

## Series:
One-dimensional array of indexed data, with support for labeled rows. The index can be of any type: string, numerical. The row indices are flexible.

In [16]:
sr = pd.Series(
    index=range(1, 6),
    data=[1, 2, 3, 4, 5]
)
sr

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [23]:
sr[2:]

3    3
4    4
5    5
dtype: int64

In [29]:
sr > 1

1    False
2     True
3     True
4     True
5     True
dtype: bool

## DataFrame:
Two-dimensional array of indexed data, with support for labeled columns and rows. The index can be of any type: string, numerical. The row indices and column names are flexible.

In [10]:
df = pd.DataFrame(
    index=range(1, 6),
    data={
        'C1': [1, 2, 3, 4, 5],
        'C2': [5, 4, 3, 2, 1],
        'C3': [6, 7, 8, 9, 10]
    }
)
df

   C1  C2  C3
1   1   5   6
2   2   4   7
3   3   3   8
4   4   2   9
5   5   1  10

In [25]:
df.loc[:, 'C1']

1    1
2    2
3    3
4    4
5    5
Name: C1, dtype: int64

In [26]:
df['C1']

1    1
2    2
3    3
4    4
5    5
Name: C1, dtype: int64

In [34]:
df > 1

      C1     C2    C3
1  False   True  True
2   True   True  True
3   True   True  True
4   True   True  True
5   True  False  True

### Get/Set value of single entry:

In [11]:
print(df.at[1, 'C2']) # Get

df.at[1, 'C2'] = 6 # Set
print(df.at[1, 'C2']) # Get

5
6

### Implicit index slicing:

In [12]:
# Slices data from implicit index 1 to 5 - 1.
df.iloc[1:5]

   C1  C2  C3
2   2   4   7
3   3   3   8
4   4   2   9
5   5   1  10

In [6]:
# Slices all rows and all columns except the last one.
data.iloc[:, 0:-1]

   C1  C2
1   1   6
2   2   4
3   3   3
4   4   2
5   5   1

### Compound GroupBy on a DataFrame:
The same concept as an SQL GroupBy command. It will group all rows by two or more defined columns and aggregate (count) the results. The return value will be a series object, which at the same time can contain other compound values.

In [7]:
# TODO: Example

***
# The End