# Notebook for testing the Pandas library:
**Author:** Andreas P. Koenzen

In [4]:
import pandas as pd

## Index:
*TODO:* Explanation

In [15]:
# TODO: Example

## Series:
One-dimensional array of indexed data, with support for labeled rows. The index can be of any type: string, numerical. The row indices are flexible.

In [11]:
# TODO: Example

## DataFrame:
Two-dimensional array of indexed data, with support for labeled columns and rows. The index can be of any type: string, numerical. The row indices and column names are flexible.

In [7]:
data = pd.DataFrame(
    index=range(1, 6),
    data={
        'C1': [1, 2, 3, 4, 5],
        'C2': [5, 4, 3, 2, 1],
        'C3': [6, 7, 8, 9, 10]
    }
)
data

   C1  C2  C3
1   1   5   6
2   2   4   7
3   3   3   8
4   4   2   9
5   5   1  10

### Get/Set value of single entry:

In [8]:
print(data.at[1, 'C2']) # Get

data.at[1, 'C2'] = 6 # Set
print(data.at[1, 'C2']) # Get

5
6

### Implicit index slicing:

In [4]:
# Slices data from implicit index 1 to 5 - 1.
data.iloc[1:5]

   C1  C2  C3
2   2   4   7
3   3   3   8
4   4   2   9
5   5   1  10

In [5]:
# Slices all rows and all columns except the last one.
data.iloc[:, 0:-1]

   C1  C2
1   1   6
2   2   4
3   3   3
4   4   2
5   5   1

### Compound GroupBy on a DataFrame:
The same concept as an SQL GroupBy command. It will group all rows by two or more defined columns and aggregate (count) the results. The return value will be a series object, which at the same time can contain other compound values.

In [6]:
# TODO: Example